body{
    margin: 0;
}

.card{
    width: 500px; 
    height: fit-content; 
    background-color: rgb(172, 206, 235); 
    border: 5px solid black;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

img{
    height: 100%;
    width: 100%;
}

.text{
    font-family: monospace;
}

.main-color{
    color: red;
    font-weight: bold;
}

.title{
    font-size: 30px;
}
